{% extends 'base.html' %}
{% block title %} Study Helper | Welcome {% endblock title %}
{% block content %}
<div class="container my-4">
    <div class="jumbotron">

	      <h2 class="text-center text-info">Congratulations!! You have successfully logged in.</h2>
	      <h3 class="text-info text-center">Before you play the quiz, here are the rules</h3>

        <div class="row">

            <div class="card border-info mx-4 my-4">
                <div class="card-body text-info">
                    <h4 class="card-title">Rules :</h4>
                    <p class="card-text">
                        <ul style="list-style:decimal;">
                            <li>All questions are multiple choice question.</li>
                            <li><span class="text-danger">Select all correct choices, at least one choice is correct.</span></li>
                            <li>Every question is displayed only once per user.</li>
                            <li>Try to answer as quickly as you can.</li>
                            <li>If you press refresh or go back to the previous page, there will be a new question for you and the question you were on will be counted as attempted.</li>
                            <li>Questions and choices are displayed randomly for every user.</li>
                            <li>You will be told immediately whether your answer was correct or incorrect once you submit the answer.</li>
                        </ul>
                    </p>
                    <form class="form" action="{% url 'quiz:play' %}" method="get">
                        <label for="course_select">Choose a course:</label>
                        <select name="course" id="course_select">
                          <option selected value=""> ---- </option>
                          <option value="0">Use tags instead</option>
                          {% for course in courses %}
                            <option value="{{ course.id }}">{{ course.name }}</option>
                          {% endfor %}
                        </select>
                        <label for="tag_select">Choose tags:</label>
                        <select size="4" name="tags" id="tag_select" multiple>
                          <option value="0">Use all Tags</option>
                          {% for tag in tags %}
                            <option value="{{ tag.id }}">{{ tag.name }}</option>
                          {% endfor %}
                        </select>
                        <label for="e_override">Abandone current session:</label>
                        <input type="checkbox" id="e_override" value="1" name="abandone_session">
                        <input class="btn btn-info btn-lg" type="submit" value="Let's play">  
                    </form>
                    <p class="lead">Create and Start a new session.</p>
                    <form class="form" action="{% url 'quiz:play' %}" method="get">
                      <label for="session_course_select">Choose a course:</label>
                      <select name="session_course" id="session_course_select">
                        <option selected value=""> --- </option>
                        {% for course in courses %}
                          <option value="{{ course.id }}">{{ course.name }}</option>
                        {% endfor %}
                      </select>
                      <label for="expertise_level">Expertise level:</label>
                      <select name="session_expertise_level" id="expertise_level">
                        <option value="NO">Novice</option>
                        <option value="AD">Advanced Beginner</option>
                        <option selected value="CO">Competent</option>
                        <option value="PR">Proficient</option>
                        <option value="EX">Expert</option>
                      </select>
                      <br>
                      <label for="max_n_questions">Number of questions (0-200):</label>
                      <input type="number" id="max_n_questions" value="0" name="session_max_n_questions" min="0" max="200">
                      <label for="e_expertise_level">Enforce expertise level</label>
                      <input type="checkbox" id="e_expertise_level" value="1" name="session_enforce_expertise_level">
                      
                      <br>
                      <div class="container" style="margin-top: 20px;" id="multiselectlist">
                        <table class="w-100">
                          <tr>
                            <th>|Question list </th>
                            <th>|Move </th>
                            <th>|SELECT Session Questions </th>
                            <th>|Order|</th>
                          </tr>
                          <tr>
                            <td>
                          <select multiple  id="multivalfrom" size="8" class="w-100">
                            {% for question in questions %}
                            <option value="{{ question.id }}">{{ question.html }}</option>
                            {% endfor %}
                          </select>
                        </td>

                      <td>
                          <div class="btn-group-vertical w-100">
                            <button type="button" class="btn btn-default col-sm-12 btn-sm" title="Move All" id="move_all_btn"><i class='fa fa-angle-double-right'></i></button>
                            <button type="button" class="btn btn-default col-sm-12 btn-sm" title="Move" id="move_btn"><i class='fa fa-angle-right'></i></button>
                            <button type="button" class="btn btn-default col-sm-12 btn-sm" title="Remove" id="remove_btn"><i class='fa fa-angle-left'></i></button>
                            <button type="button" class="btn btn-default col-sm-12 btn-sm" title="Remove All" id="remove_all_btn"><i class='fa fa-angle-double-left'></i></button>
                          </div>	
                        </td>
                      <td>
                          <select name="session_questions" multiple id="multivalto" size="8" class="w-100">
                          </select>
                        </td>
                      <td>
                          <div class="btn-group-vertical w-100">
                            <button type="button" class="btn btn-default col-sm-12 btn-sm" title="Top" id="top_btn"><i class='fa fa-angle-double-up'></i></button>
                            <button type="button" class="btn btn-default col-sm-12 btn-sm" title="Up" id="up_btn"><i class='fa fa-angle-up'></i></button>
                            <button type="button" class="btn btn-default col-sm-12 btn-sm" title="Down" id="down_btn"><i class='fa fa-angle-down'></i></button>
                            <button type="button" class="btn btn-default col-sm-12 btn-sm" title="Bottom" id="bottom_btn"><i class='fa fa-angle-double-down'></i></button>
                          </div>
                        </td>
                        </tr>
                        </table>
                      </div>
                      <label for="e_questions_order">Enforce questions order:</label>
                      <input type="checkbox" id="e_questions_order" value="1" name="enforce_questions_order" checked>
                      <br>
                      
                      <label for="session_tag_select">Choose tags:</label>
                      <select size="4" name="session_tags" id="session_tag_select" multiple>
                      {% for tag in tags %}
                        <option value="{{ tag.id }}">{{ tag.name }}</option>
                      {% endfor %}
                      </select>
                      <label for="session_user_select">Invite users:</label>
                      <select size="4" name="session_user" id="session_user_select" multiple>
                      {% for user in users %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                      {% endfor %}
                      </select>
                      <br>
                      
                      
                      <label for="opens_at">Starts at:</label>
                      <input type="datetime-local" id="opens_at" name="session_opens_at">
                      <label for="closes_at">Ends at:</label>
                      <input type="datetime-local" id="closes_at" name="session_closes_at"> 
                      <br>
                      <label for="e_include_me">Include me:</label>
                      <input type="checkbox" id="e_include_me name" value="1" name="session_include_me" checked>
                      <label for="e_session_is_published">Publish:</label>
                      <input type="checkbox" id="e_session_is_published" value="1" name="session_is_published" checked>
                      <input class="btn btn-info btn-lg" type="submit" value="Start New Session">  
                    </form>
                </div>  
                <div class="card-footer">Rules last modified 10-March-2023</div>  
            </div>  
        </div>  

    </div>
</div>
{% endblock content %}
{% block js %}
    <script>
      $(document).ready(function(){
        assign_btn_action('multiselectlist');
      });
    
    </script>
{% endblock js %}