{% extends 'base.html' %}
{% block title %} Study Helper | Welcome {% endblock title %}
{% block content %}
<div class="container my-4">
    <div class="jumbotron">

	      <h2 class="text-center text-info">Congratulations!! You have successfully logged in.</h2>
	      <h3 class="text-info text-center">Before you play the quiz, here are the rules</h3>

        <div class="row">

            <div class="card border-info mx-4 my-4">
                <div class="card-body text-info">
                    <h4 class="card-title">Rules :</h4>
                    <p class="card-text">
                        <ul style="list-style:decimal;">
                            <li>All questions are multiple choice question.</li>
                            <li><span class="text-danger">Select all correct choices, at least one choice is correct.</span></li>
                            <li>Every question is displayed only once per user.</li>
                            <li>Try to answer as quickly as you can.</li>
                            <li>If you press refresh or go back to the previous page, there will be a new question for you and the question you were on will be counted as attempted.</li>
                            <li>Questions and choices are displayed randomly for every user.</li>
                            <li>You will be told immediately whether your answer was correct or incorrect once you submit the answer.</li>
                        </ul>
                    </p>
                    <form class="form" action="{% url 'quiz:play' %}" method="get">
                        <label for="course_select">Choose a course:</label>
                        <select name="course" id="course_select">
                          <option selected value=""> ---- </option>
                          <option value="0">Use tags instead</option>
                          {% for course in courses %}
                            <option value="{{ course.id }}">{{ course.name }}</option>
                          {% endfor %}
                        </select>
                        <label for="tag_select">Choose tags:</label>
                        <select size="4" name="tags" id="tag_select" multiple>
                          <option value="0">Use all Tags</option>
                          {% for tag in tags %}
                            <option value="{{ tag.id }}">{{ tag.name }}</option>
                          {% endfor %}
                        </select>
                        <input class="btn btn-info btn-lg" type="submit" value="Let's play">  
                    </form>
                </div>  
                <div class="card-footer">Rules last modified 10-March-2023</div>  
            </div>  
        </div>  

    </div>
</div>
{% endblock content %}